body {
  margin: 10px;
  font-family: "Playfair", sans-serif;
}

nav {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px;
}

nav #top-bar {
  background-color: #fef7e2;
  border-radius: 20%;
  flex-grow: 2;
  flex-basis: 90%;
}

#top-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

#top-bar li {
  background-color: #ffdf7e;
  border-radius: 50px;
  padding: 14px 25px;
  font-size: 14px;
}

#top-bar li #logo {
  vertical-align: middle;
}

#top-bar li strong {
  font-size: 20px;
  margin-left: 10px;
}

#profile-bar {
  flex-basis: 8%;
}

#profile-image {
  border-radius: 50%;
}

#container-shop {
  text-align: center;
  margin-bottom: 90px;
}

#container-description {
  display: flex;
  justify-content: space-between;
}

#information {
  text-align: center;
}
