body {
  margin: 10px;
}

nav {
  border: solid 1px red;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #top-bar {
  background-color: yellow;
  border-radius: 20%;
  flex-grow: 2;
  flex-basis: 90%;
}

#top-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  line-height: 3.5;
}

#top-bar li {
  background-color: orange;
  border-radius: 18px;
}

#profile-image {
  border-radius: 50%;
}

#container-shop {
  text-align: center;
  margin-bottom: 90px;
}

#container-description {
  display: flex;
  justify-content: space-between;
}

#information {
  text-align: center;
}
